<control key="ArrowUp" action="gc.moveUp()"></control>
<control key="ArrowDown" action="gc.moveDown()"></control>
<control key="ArrowLeft" action="gc.moveLeft()"></control>
<control key="ArrowRight" action="gc.moveRight()"></control>

<time-counter start="gc.startCounter" stop="gc.stopCounter" get-counter="gc.getCounter"></time-counter>
<button class="start" ng-click="gc.startGame()" ng-disabled="gc.isGameStarted">Start</button>

<span class="row" ng-repeat="row in gc.board">
  <span class="col" ng-repeat="element in row">{{ element !== null ? element : '&nbsp;' }}</span>
</span>

<span ng-show="gc.isSolved">Congratulations!</span>
