<a href="leaderboard()" ui-sref="leaderboard">Leaderboard</a>

<div class="board-size-controls">
  <span class"">{{gc.boardSize.col}}x{{gc.boardSize.row}}</span>
  <i class="fa fa-minus-circle control" ng-click="gc.decreaseBoardSize()" ng-class="{'is-disabled': gc.isGameStarted}"></i>
  <i class="fa fa-plus-circle control" ng-click="gc.increaseBoardSize()" ng-class="{'is-disabled': gc.isGameStarted}"></i>
</div>
<div class="clearfix"></div>

<!-- board -->
<div class="board-container">
  <time-counter start="gc.startCounter" stop="gc.stopCounter" get-counter="gc.getCounter"></time-counter>

  <div class="row" ng-repeat="row in gc.board">
    <div class="col" ng-repeat="element in row">
      <img class="square" ng-src="{{ element !== null ? 'assets/square.jpg' : '' }}"/>
      <span class="number">{{ element !== null ? element : '&nbsp;' }}</span>
    </div>
  </div>

  <div class="control-container">
    <control key="ArrowUp" action="gc.moveUp()"></control>
    <control key="ArrowDown" action="gc.moveDown()"></control>
    <control key="ArrowLeft" action="gc.moveLeft()"></control>
    <control key="ArrowRight" action="gc.moveRight()"></control>
    <i class="fa fa-play-circle control" ng-click="gc.startGame()" ng-class="{'is-disabled': gc.isGameStarted}"></i>
  </div>
</div>
