html {
  font-family: Helvetica;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-transform: uppercase;
}

h3 {
  font-size: 56px;
}

.row {
  display: block;
}

.col {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}

.board-container {
    display: block;
    text-align: center;
}

.square {
  width: 100px;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 26px;
  color: #FFF;
  transform: translate(-50%, -50%);
}

.control-container {
  -webkit-user-select: none;
}

.control {
  font-size: 56px;
}

.control:hover {
  opacity: 0.5;
  cursor: pointer;
}

.time-counter {
  font-size: 56px;
}

.is-disabled,
.is-disabled:hover {
  color: #e2e2e2;
  cursor: not-allowed;
}

.leaderboard-container {
  text-align: center;
}

.leaderboard-time {
  font-size: 56px;
}
